.fondo-primero
{
    background-color: #07317c;
}
.fondo-azul
{
    background-color: #07317c;
}
.fondo-segundo
{
    background-color: #c21b31;
}
.texto-primero
{
    color: #07317c;
}
.texto-blanco
{
    color: white;
}
.texto-segundo
{
    color:#c21b31;
}
.texto-verde
{
    color:#0e6251;
}
.texto-azul
{
    color: #002f67;
}
.texto-rojo
{
    color: #78281f;
}
.texto-morado
{
    color: #4a235a;
}
